.container {
    background: $light-grey;
    border: 1px solid $light-grey-border;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 2rem;
}

.container__header {
    border-bottom: 1px solid $light-grey-border;
    padding: 1rem;

    input[type=checkbox] {
        display: none;
    }
    .show_inactif {
        box-shadow:$light-shadow;
    }
    
    label {
        text-align: center;
        cursor: pointer;
    }

    > :last-child {
        align-items: center;
        display: flex;
    }
}

.container__message {
    color: $light-color;
    margin: 2rem auto;
    text-align: center;
}

.container__footer {
    padding: 1rem 1rem 0 1rem;
    border-top: 1px solid $light-grey-border;
}
.todo-enter {
  height:0;
  background: white;
  transform: scale(0.5);
  opacity: 0.5;
}

.todo-enter.todo-enter-active {
  height:100%;
  transform: scale(1);
  opacity: 1;
  transition: 300ms ease-in;
}

.todo-leave {
  height:100%;
  opacity: 1;
}

.todo-leave.todo-leave-active {
  height:0;
  opacity: 0.01;
  transition: 300ms ease-in;
}
.todo-appear {
  opacity: 0.01;
}

.todo-appear.todo-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.list_container {
    transition: all linear 200ms;
}